{{ define "main" }}
<main class="center mv4 content-width ph3">

{{ .Content }}

  {{ $type := .Type }}
  <h1 class="f2 fw6 heading-font">{{ .Title }}</h1>

{{ $resources := .Resources.Match "*.jpg" }}
{{ range sort $resources ".Name"}}
{{ $image := .Fill "500x500 smart"}}
    
<article class="fl w-100 w-50-m  w-33-ns photo">
    <div class="aspect-ratio aspect-ratio--1x1">
    	<a href="{{ .RelPermalink }}">
      <img src="{{ .RelPermalink }}" 
      class="db cover aspect-ratio--object" />
          </a>

    </div>
</article>

{{ end }}
</main>
<div class="pagination tc db fixed-l bottom-2-l right-2-l mb3 mb0-l">
{{ partial "back-to-top.html" . }}
</div>
{{ end }}