---
layout: post
homepage: True
type: blog
title: "blog"
---


<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
  <h1 class='title'><a href="{{ post.url }}">{{ post.title }}</a></h1>
    <div class="date">
      <span>{{ post.date | date: "%B %e, %Y"}}</span>
&nbsp;&nbsp;

    </div>
  <div class="content">
    {{ post.content }}
      <strong>Categories: </strong>{% for category in post.categories %}
        <a class="btn btn-link btn-xs" href="/categories.html#{{category}}" role="button">{{category}}</a>
      {% endfor %}

      <strong>Tags:</strong> {% for tag in post.tags %}
        <a class="btn btn-xs btn-link" href="/tags.html#{{tag}}" role="button"></i> {{tag}}</a>
      {% endfor %}

<br /><br /><br />

    </div>
{% endfor %}

<!-- Pagination links -->
{% if paginator.total_pages > 1 %}
  <nav class="paginator" style="text-align:center;">
    <ul class="pagination">
      {% if paginator.page > 1 and paginator.total_pages > 5 %}
        <li><a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}">First</a></li>
      {% else %}
        <li class="disabled"><a href="#">First</a></li>
      {% endif %}

      {% if paginator.previous_page %}
        <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo;</a></li>
      {% else %}
        <li class="disabled"><a href="#">&laquo;</a></li>
      {% endif %}
      
      {% if paginator.total_pages > 5 %}
        {% if paginator.page > 4 and paginator.page != paginator.total_pages %}
          {% assign start = paginator.page | minus: 3 %}
          {% assign finish = paginator.page | plus: 1 %}
          {% assign etc_last = paginator.total_pages | minus: 2 %}
          <li class="disabled"><a href="#">...</a></li>
        {% elsif paginator.page > 4 and paginator.page == paginator.total_pages %}
          {% assign start = paginator.page | minus: 4 %}
          {% assign finish = paginator.page %}
          <li class="disabled"><a href="#">...</a></li>
        {% else %}
          {% assign start = 1 %}
          {% assign finish = 5 %}
          {% assign etc_last = paginator.total_pages | minus: 2 %}
        {% endif %}
      {% else %}
        {% assign start = 1 %}
        {% assign finish = paginator.total_pages %}
      {% endif %}
      
      {% for page in (start..finish) %}
        {% if page == paginator.page %}
          <li class="active"><a href="#">{{ page }}</a></li>
        {% elsif page == 1 %}
          <li><a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a></li>
        {% else %}
          <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
        {% endif %}
      {% endfor %}

      {% if paginator.page <= etc_last %}
        <li class="disabled"><a href="#">...</a></li>
      {% endif %}

      {% if paginator.next_page %}
        <li><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&raquo;</a></li>
      {% else %}
        <li class="disabled"><a href="#">&raquo;</a></li>
      {% endif %}

      {% if paginator.page < paginator.total_pages %}
        <li><a href="/page{{ paginator.total_pages }}">Last</a></li>
      {% else %}
        <li class="disabled"><a href="#">Last</a></li>
      {% endif %}
    </ul>
  </nav>
{% endif %}
