---
title: Photos
layout: photos
type: photos
---

<h1>Photos</h1>
<div class='row photos_page'>
  {% for image in site.static_files %}
      {% if image.path contains 'photos/' %}
        {% if image.path contains 'thumb' %}
          <div class='col-md-4'>
              <a target="_blank" class='photo' href='{{ site.baseurl }}{{ image.path| replace: ".thumb",""  }}'>
                <div class='photo_title'>
                {% assign title = image.path | split: '_' %}
                  <small class='pull-right'>{{ title[0]|replace: "/photos/", "" }}
                  </small>

                  {{ title[1]|replace: ".thumb.jpg", "" }}
                </div>
                  <img src="{{ site.baseurl }}{{ image.path }}" class='photo_thumbnail' alt="image" />
              </a>
          </div>
        {% endif %}
      {% endif %}
  {% endfor %}
</div>
<div style='clear:both;'></div>
<br />
<br />
<br />