
  <aside class="sidebar" role="complementary">
    <section class="widget text-2 widget_text"><div class="widget-inner">     <div class="textwidget"><aside>

<img src="/assets/img/me.jpeg"  style="width:95px; border: 0px solid black; border-radius:5px; margin-right: 20px;" class='pull-left' />

<p><strong>Daniel E. Cook</strong> is a graduate student in the <a href="http://www.andersenlab.org">Andersen Lab</a> at Northwestern.</p>

<p><i class="glyphicon glyphicon-envelope"></i> <a href='mailto:danielecook@gmail.com'>danielecook@gmail.com</a><br />


<div style='clear:both;'></div><br />
<script type="text/javascript">
  (function(w,d,t,u,n,s,e){w['SwiftypeObject']=n;w[n]=w[n]||function(){
  (w[n].q=w[n].q||[]).push(arguments);};s=d.createElement(t);
  e=d.getElementsByTagName(t)[0];s.async=1;s.src=u;e.parentNode.insertBefore(s,e);
  })(window,document,'script','//s.swiftypecdn.com/install/v2/st.js','_st');

  _st('install','Y8y68vXnqNhKB1AhG6ik','2.0.0');
</script>

<input type="text" style="width:80%" class="st-default-search-input">
<ul class="nav nav-pills nav-stacked">
<li><a href="http://danielecook.com/feed/"><img src="http://danielecook.com/media/1434650378_rss_circle_color.png" /> RSS </a></li>
<li><a href="https://www.sharelatex.com/github/repos/danielecook/cv/builds/latest/output.pdf"><img src="http://danielecook.com/img/paper.png" /> CV</a></li>
<li><a href="http://scholar.google.com/citations?user=xPDZ2w4AAAAJ&hl=en"><img src="http://danielecook.com/img/ghat.png" /> Google Scholar <span  title='external link'  class='glyphicon glyphicon-circle-arrow-right'></span></a></li>
<li><a href="http://www.github.com/danielecook"><img src="http://danielecook.com/img/github.png" /> Github <span  title='external link'  class='glyphicon glyphicon-circle-arrow-right'></a></li>

</ul>

<h4><a href="categories.html">Categories</a></h4>
    <ul>
  	  {% assign categories_list = site.categories %}  
  	  {% include JB/categories_list %}
  	</ul>
<h4><a href="archive.html">Archive</a></h4>
<ul>
{% assign counter = 0 %}
{% for post in site.posts %}
  {% assign thisyear = post.date | date: "%B %Y" %}
  {% assign prevyear = post.previous.date | date: "%B %Y" %}
  {% assign counter = counter | plus: 1 %}
  {% if thisyear != prevyear %}
    <li><a href="/archive/#{{ post.date | date:"%B %Y" }}">{{ thisyear }} ({{ counter }})</a></li>
    {% assign counter = 0 %}
  {% endif %}
{% endfor %}
</ul>
</aside>