
<img src="https://avatars1.githubusercontent.com/u/1536935?v=3&s=95"  style="width:95px; border: 0px solid black; border-radius:5px; margin-right: 20px;" class='pull-left' />

<p><strong>Daniel E. Cook</strong> is a graduate student in the <a href="http://www.andersenlab.org">Andersen Lab</a> at Northwestern.</p>

<p><i class="glyphicon glyphicon-envelope"></i> <a href='mailto:danielecook@gmail.com'>danielecook@gmail.com</a>
<div style="clear:both;"></div><br />
<div class="form-group">
  <input type="search" style="width:100%; padding: 15px 2px 15px 28px;" placeholder="Search" class="form-control st-default-search-input">
</div>

<ul class="nav nav-pills nav-stacked">
<li><a href="/feed/"><img src="/media/1434650378_rss_circle_color.png" /> RSS </a></li>
<li><a href="https://www.sharelatex.com/github/repos/danielecook/cv/builds/latest/output.pdf"><img src="/media/paper.png" /> CV</a></li>
<li><a href="http://scholar.google.com/citations?user=xPDZ2w4AAAAJ&hl=en"><img src="/media/scholar.png" /> Google Scholar <span  title='external link'  class='glyphicon glyphicon-circle-arrow-right'></span></a></li>
<li><a href="http://www.github.com/danielecook"><img src="/media/github.png" /> Github <span  title='external link'  class='glyphicon glyphicon-circle-arrow-right'></a></li>

</ul>

<h4><a href="/categories.html">Categories</a></h4>  
  	  {% include categories_list %}
<h4><a href="/tags.html">Tags</a></h4> 
      {% include tags_list %}
<h4><a href="/archive.html">Archive</a></h4>
<ul>
{% assign counter = 0 %}
{% for post in site.posts %}
  {% assign thisyear = post.date | date: "%B %Y" %}
  {% assign prevyear = post.previous.date | date: "%B %Y" %}
  {% assign counter = counter | plus: 1 %}
  {% if thisyear != prevyear %}
    <li><a href="/archive.html#{{ post.date | date:"%B %Y" }}">{{ thisyear }} ({{ counter }})</a></li>
    {% assign counter = 0 %}
  {% endif %}
{% endfor %}
</ul>
