<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Daniel E. Cook | {{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap styles -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- Optional theme -->
    <link href="/assets/css/style.css" rel="stylesheet">

    <!-- Custom styles -->
    <link href="/assets/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">

    <link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,300,300italic' rel='stylesheet' type='text/css'>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <!-- Update these with your own images
      <link rel="shortcut icon" href="images/favicon.ico">
      <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
      <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
      <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    -->

  </head>

  <body>


<div class='container'>
<header class="banner navbar navbar-default navbar-static-top navbar-fixed-top" role="banner">
  <div class="container">


<div class='navbar-header pull-right'>
    <ul class='nav navbar-nav navbar-head-group'>
      <li><a href="/" {% if page.layout == 'post' %} class='selected' {% endif %}>Blog</a></li>
      <!--<li><a href="#">Projects</a></li>-->
      <li><a href="/photos" {% if page.type == 'photos' %} class='selected' {% endif %}>Photos</a></li>
      <!--<li><a href="#">About</a></li>-->
    </ul>
  </div>


  <div class="navbar-header">
    <a class="navbar-brand" href="/"> Daniel E. Cook
    </a>
  <div>
  </div>
</header>
</div>

  <div class="container">
  <div class="st-search-container"></div>
    {{ content }}
  </div>


    
  <footer class="content-info container" role="contentinfo">
  <div class="row">
    <div class="col-lg-12">
            <hr />
      <p class='text-center'><a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/80x15.png" /></a></p>
    <br />
    </div>
  </div>
</footer>


<script data-no-instant>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-39176354-1', 'auto');
  ga('send', 'pageview');
</script>

<script type="text/javascript" data-no-instant>
  (function(w,d,t,u,n,s,e){w['SwiftypeObject']=n;w[n]=w[n]||function(){
  (w[n].q=w[n].q||[]).push(arguments);};s=d.createElement(t);
  e=d.getElementsByTagName(t)[0];s.async=1;s.src=u;e.parentNode.insertBefore(s,e);
  })(window,document,'script','//s.swiftypecdn.com/install/v2/st.js','_st');

  _st('install','_3EV2Gtr5EQ5u9nKHjEf','2.0.0');
</script>

    <!-- Latest compiled and minified JavaScript, requires jQuery 1.x (2.x not supported in IE8) -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<script type="text/javascript" data-no-instant>
$(document).ready ( function(){
    $("table").addClass("table").addClass("table-striped").addClass("table-hover").addClass("table-condensed");
  });
</script>
  </body>
</html>
