---
layout: default
---
<div class="row post-full">
  <div class="col-md-8 col-sm-6 col-xs-12">
{% if page.homepage != true %}
  <div class="page-header">
  <h1>{{ page.title }} {% if page.tagline %}<small>{{page.tagline}}</small>{% endif %}</h1>
</div>

    <div class="date">
      <span>{{ page.date | date: "%B %e, %Y"}}</span>
    </div>

{% endif %}
    <div class="content posts">
      {{ content }}
<br />
<div class="panel panel-default">
 <div class="panel-body">
      {% for category in page.categories %}
        <a class="btn btn-primary btn-sm" href="/categories.html#{{category}}" role="button"><i class="glyphicon glyphicon-th"></i> {{category}}</a>
      {% endfor %}

      {% for tag in page.tags %}
        <a class="btn btn-sm btn-success" href="/tags.html#{{tag}}" role="button"><i class="glyphicon glyphicon-tags"></i> {{tag}}</a>
      {% endfor %}
      </div>
</div>

    </div>
  

  
  </div>

  <div class="col-md-4 col-sm-6 col-xs-12">   
  {% include sidebar.html %}
  </div>

</div>

