---
layout: default
type: 'blog'
---
<div class="row post-full">
  <div class="col-md-8 col-sm-6 col-xs-12">
{% if page.homepage != true %}
  <h1 class='title'>{{ page.title }} {% if page.tagline %}<small>{{page.tagline}}</small>{% endif %}</h1>
    <div class="date">
      <span>{{ page.date | date: "%B %e, %Y"}}</span>
&nbsp;&nbsp;

    </div>

{% endif %}
    <div class="content posts">
      {{ content }}

      <strong>Categories: </strong>{% for category in page.categories %}
        <a class="btn btn-link btn-xs" href="/categories.html#{{category}}" role="button">{{category}}</a>
      {% endfor %}

      <strong>Tags:</strong> {% for tag in page.tags %}
        <a class="btn btn-xs btn-link" href="/tags.html#{{tag}}" role="button"></i> {{tag}}</a>
      {% endfor %}

    </div>
 
  
  </div>

  <div class="col-md-4 col-sm-6 col-xs-12">   
  {% include sidebar.html %}
  </div>

</div>

